<div class="row">

  <div class="col-4">
    {% if picture.prev_pic %} {{picture.prev_pic.date.strftime('%Y-%m-%d %H:%M:%S')}} {{picture.prev_pic.added_order}} prev <br/> {% endif %}
    {% if picture.date %} {{picture.date.strftime('%Y-%m-%d %H:%M:%S')}} {{picture.added_order}} this <br/> {% endif %}
    {% if picture.next_pic %} {{picture.next_pic.date.strftime('%Y-%m-%d %H:%M:%S')}} {{picture.next_pic.added_order}} next {% else %} (last) {% endif %}
  </div>

  <div class="col-4">
    {% set new_rot_cw = picture.img_rot + 90 if picture.img_rot else 90 %}
    <form
      action="/picture/edit/{{picture.imgp_id}}"
      method="POST"
    >
      <input hidden type="number" id="img_rot" name="img_rot" value="{{new_rot_cw}}">
      <button type="submit" class="btn btn-danger text-center">Rotate Image 90 CW</button>
    </form>
  </div>

  <div class="col-4">
    {% set new_rot_ccw = picture.img_rot + 270 if picture.img_rot else 270 %}
    <form
      action="/picture/edit/{{picture.imgp_id}}"
      method="POST"
    >
      <input hidden type="number" id="img_rot" name="img_rot" value="{{new_rot_ccw}}">
      <button type="submit" class="btn btn-danger text-center">Rotate Image 90 CCW</button>
    </form>
  </div>
</div>

</div>


<br/>
