<!--
    Prev/Random/Next buttons for mobile 
    (disable next/prev buttons for last/first pages) 
-->
{% set prev_extras = "" if picture.prev_pic else "disabled" %}
{% set prev_imgp_id = picture.prev_pic.imgp_id if picture.prev_pic else "#" %}

{% set next_extras = "" if picture.next_pic else "disabled" %}
{% set next_imgp_id = picture.next_pic.imgp_id if picture.next_pic else "#" %}

{% if pictures|length == 1 %}
  <!-- Hide on screens wider than lg -->
  <div class="d-lg-none d-grid gap-2 d-lg-block">
    {% if picture.prev_pic %}
      <a class="btn btn-primary" href="/p/{{picture.prev_pic.imgp_id}}" role="button"> Previous </a>
    {% endif %}
    <a class="btn btn-primary" href="/random" role="button"> Random </a>
    {% if picture.next_pic %}
      <a class="btn btn-primary" href="/p/{{picture.next_pic.imgp_id}}" role="button"> Next </a>
    {% endif %}
  </div>
  <br/>
{% endif %}
