.headline-block {
  background-color: lightgreen;
}

.headline-block a {
  /*padding-right: 2em;*/
}

.recipe-block {
  background-color: lightgrey;
}

.photos-block {
  background-color: lightblue;
  padding-top: 10px;
}

.photos-block img {
  padding-top: 10px;
  padding-bottom: 10px;
}
