{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Andes Mint Cookies</h1>
  <h2>From <a href="https://chocolatewithgrace.com/andes-mint-cookies">Chocolate with Grace</a></h2>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>1/2 cup butter softened</li>
    <li>1/2 cup white sugar</li>
    <li>1/2 cup brown sugar</li>
    <li>1/2 teaspoon vanilla extract</li>
    <li>1/4 teaspoon mint extract</li>
    <li>1 egg</li>
    <li>1 cup flour</li>
    <li>1/2 cup cocoa</li>
    <li>1 teaspoon baking soda</li>
    <li>1/2 teaspoon salt</li>
    <li>3/4 cup Andes mint baking pieces</li>
    <li>24 Andes mints</li>
  </ul>
{% endblock %}

{% block instructions %}
  <ul>
    <li>In a large bowl, beat the softened butter until light colored. Cream in white and brown sugar. Beat in the vanilla and mint extract and the egg.</li>
    <li>In a separate bowl, combine the flour, baking soda, salt and cocoa. Stir into the wet ingredients. Stir in the Andes mint pieces.</li>
    <li>Roll the dough into 1 inch balls and refrigerate for at least 2 hours.</li>
    <li>Preheat the oven to 350 F. Place the balls on a cookie sheet and bake in a preheated oven for 9-11 minutes. Do not overbake or they will be crunchy.</li>
    <li>Remove them from the oven and immediately place 1 and 1/2 Andes mints on the top of the cookie. Let them sit for a minute until the mint has melted and then gently spread on the cookie with a knife. Let them cool completely before storing, Or enjoy them warm.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
