{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Black Dot's Chocolate Aunt Cake</h1>
  <h2>By Jess Blanch</h2>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>2 cups flour</li>
    <li>2 cups sugar</li>
    <li>1 cup baking cocoa</li>
    <li>2 teaspoons salt</li>
    <li>2 teaspoons baking powder</li>
    <li>2 teaspoons baking soda</li>
    <li>2 Tablespoons oil</li>
    <li>2 cups boiling water</li>
    <li>2 eggs</li>
    <li>2 teaspoons vanilla</li>
  </ul>
{% endblock %}


{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Grease and flour pans</li>
    <li>In a large bowl, combine and sift dry ingredients</li>
    <li>Add oil and water</li>
    <li>Add eggs and vanilla</li>
    <li>Bake 350F for 25m (bundt or 2 layers)</li>
  </ul>
  
{% endblock %}

{% block photos %}
{% endblock %}
