{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Broccoli Noodles</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>2 Tbsp butter</li>
    <li>1 chopped onion</li>
    <li>3 diced garlic cloves</li>
    <li>pepper & salt</li>
    <li>2 Tbsp flour</li>
    <li>2 cups milk</li>
    <li>4 oz cream cheese</li>
    <li>1/4 cup parm cheese</li>
    <li>extra cheese</li>
    <li>1 lb pasta</li>
    <li>1 lb chopped broccoli chopped small</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Cook pasta, not quite to al dente</li>
    <li>In a separate pot saute onions in butter, 5 min</li>
    <li>Add broccoli, garlic, salt, and pepper: cook 5 more min until broccoli is tender</li>
    <li>Add flour, cook for 1 min, add milk 1/2 cup at a time and stir until combined</li>
    <li>When milk is combined, add the in cheese</li>
    <li>Add noodles to sauce, add more pasta water if needed</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
