{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Homemade Cafe -Style Buttermilk Pancakes</h1>
  <h2>(Bette's recipe + 30g flour, all buttermilk, add yogurt, no sugar, half butter)</h2>
  <br/>By <a href="https://twitter.com/eastbaypancakes">@EastBayPancakes</a>.<br/>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>300 g flour</li>
    <li>2 tsp baking powder</li>
    <li>1 tsp baking soda</li>
    <li>1 tsp salt</li>
    <li>
      2 eggs separated, whites whipped to soft peaks (whipping the whites is
      a pain, and probably doubles the work, but it's
      <em>what takes these to the next level)</em>
    </li>
    <li>2 Tbsp butter melted and cooled</li>
    <li>2 cups buttermilk, pref room temp</li>
    <li>1 cup yogurt</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Sift dry ingredients together and set aside</li>
    <li>Whip egg whites to soft peaks</li>
    <li>Mix buttermilk, butter, yogurt, and egg yolks together</li>
    <li>Gently fold wet ingredients into dry, do not overmix</li>
    <li>Gently fold egg whites into mixture</li>
    <li>Rest batter for 10 miniutes</li>
    <li>Gently scoop 1/2 - 1 cup batter per pancake onto a medium-hot buttered griddle</li>
    <li>
      Carefully turn over pancake when bubbles appear on top. Batter will not
      bubble through much since it is extra-thick
    </li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="https://lh3.googleusercontent.com/mLOyx8_e37zhIDnPoYtcXBWjvMeAiGPu227sYmlJ7LXiQyoE4lTvEYYZ8NcEP0Wd7MUEzqwjR8mF4jKD16onSH5nyL3EUPBxCwO1cERhcqvq8yoBCu6dbkz-Tf2UWNHquShEX4xLuhWud3eU2GN-gGRh0jBDzFagPWz5nQlJItEJbS3Jm5HMd3wgNdXUHTTeqN95WRnPc8tfo9mLFlKiM7X0DTLkBP3pgy_KiJeMc76PMz4StuWvHdBg0DkRjajAmrM1bP22OhwuvFRzYdr-ndakHNHykhSngnrlP8e2J9zkn50WbdfhzLiL0nUA2DcKTbeFgunUAFXF427dDJaulMkGN3B6VdVrq_vdTvDdZhHrG9GZ8W6OOSW2W2Jgm7yCrxSuzz1W6Hvwn5kkwypqot9V3qUL7dM8lHbOmDQf9sdDMeV_4YmpX3VjUdMC8w5sYMXj91QClkWvSUKJGdBLSUbmd8odNH83844FB669GehaYdjlSZBGKCwhms8RBYp-sPCBUHS-PRtUhsXg150VLKFFklIM7BJhFjLR0yRAVqxHnQq5sUbuvHmBjP2OC4u_NU2ZSAslXw8G3o03QIvRpDkuqQFZrmuB4popccfmd0SVzhSPJ04WAuDVqmfFE1kF060HsQVakVQCfG_qKWI6ZLFIsFdzClVvhagHm8UfVCukuuk6APEJsc6UFMfWbK0=w1308-h981-no?authuser=0">
{% endblock %}
