{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Chocolate Chip Cookies</h1>
  <h3>
    From 
    <a href="https://www.keyingredient.com/member-7613-longhornfans.htm">Stacy Broussard's</a>
    <a href="https://www.keyingredient.com/recipes/109034513/the-only-chocolate-chip-cookie-i-will-ever-need-to-know-how-to-make-for-the-rest-of-my-life/">recipe</a>
  </h3>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>2 cups minus 2 tablespoons cake flour, about 8 1/2 oz</li>
    <li>1 2/3 cups bread flour, about 8 1/2 oz</li>
    <li>1 1/4 teaspoons baking soda</li>
    <li>1 1/2 teaspoons baking powder</li>
    <li>1 1/2 teaspoons coarse salt, such as kosher</li>
    <li>2 1/2 sticks unsalted butter, softened, 1 1/4 cups / 10 ounces</li>
    <li>1 1/4 cups light brown sugar, 10 ounces</li>
    <li>1 cup plus 2 tablespoons granulated sugar, 8 ounces</li>
    <li>2 large eggs</li>
    <li>2 teaspoons vanilla extract</li>
    <li>1 1/4 pounds bittersweet chocolate chips or chunks, preferably about 60% cacao content, such as Ghirardelli</li>
    <li>Sea salt or kosher salt for garnishing</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Combine flours, baking soda, baking powder, and salt in a bowl. Whisk well; then set aside.</li>
    <li>Using a mixer fitted with paddle attachment, cream butter and sugars until very light and fluffy, about 3 to 5 minutes.</li>
    <li>Add the eggs, one at a time, mixing well after each addition. Mix in the vanilla. Scrape down the sides of the bowl with a rubber spatula as needed.</li>
    <li>Reduce the mixer speed to low; then add dry ingredients, and mix until just combined.</li>
    <li>Add the chocolate chips, and mix briefly to incorporate.</li>
    <li>Press plastic wrap against the dough, and refrigerate for 24 to 36 hours. The dough may be used in batches, and can be refrigerated for up to 72 hours.</li>
    <li>When you’re ready to bake, preheat oven to 350°F. Remove the bowl of dough from the refrigerator, and allow it to soften slightly. Line a baking sheet with parchment paper or a nonstick baking mat.</li>
    <li>Using a standard-size ice cream scoop – about 3 fluid ounces, or about 1/3 cup – scoop six mounds of dough onto the baking sheet, making sure to space them evenly. Sprinkle lightly with sea salt, and bake until golden brown but still soft, 15 to 20 minutes. Transfer the baking sheet to a wire rack for 10 minutes, then transfer the cookies onto the rack to cool a bit more.</li>
    <li>Secret 1: The use of a mix of cake flour and bread flour. Cake flour is finer, and bread flour has gluten, both important. Use them and no other.</li>
    <li>Secret 2: Chilling. This is key — KEY! — to cookie texture success. The reason is that letting the dough rest allows all the eggs and the butter and the liquids to ooze and soak and hydrate into all the dry goodness. 24 hours is minimum, 36 is preferable (and noticeably better).</li>
    <li>Secret 3: All ingredients. Room temperature. Do it. (Note: The misconception with room-temperature butter: it actually doesn’t mean letting it sit out until it’s supersoft and melty. You should be able to press a slice of butter with your finger and easily make a dent, and it should crack faintly.)</li>
    <li>Secret 4: Did you know? People make their cookies way too small! It’s silliness! If you make them too small, they dry out too quick, and they get too crunchy. We want gooey and chewy! The way to achieve that is to scoop your dough out into golf-ball sized — or slightly larger — portions. I use a 1/3 cup measuring cup for extra big cookies.</li>
    <li>Secret 5: The chocolate. Sorry, Toll House. And don’t even think about the generic supermarket brand. I only use Ghiardelli 60% Cacao chips — they’re pretty widely available the best chips you can buy at a grocery store. However, if you run across anything that is 60% cacao, it’ll be good.</li>
    <li>Secret 6: The sprinkle of salt on the top. Makes all the sweetness sing.</li>
    <li>Secret 7: Wait. I mean, sure, have one piping hot out of the oven, but the flavors actually meld and deepen once they cool. These are definitely cookies that get better the next day.</li>
    <li>Secret 7 1/2: Always err on taking them out too early rather than too late – also essential for middle-softness. They continue to cook on the sheet for a few minutes, so don’t overdo it – underdone is better than overdone, every time (and you can always pop them in for a minute more if you like).</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
