
{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Cranberry Pecan Pie</h1>
{% endblock %}

{% block ingredients%}
  <ul>
    <li>2 cups sugar</li>
    <li>1/2 teaspoon salt</li>
    <li>2/3 cup meleted butter</li>
    <li>2 cups corn syrup</li>
    <li>6 eggs</li>
    <li>3 to 4 cups toasted pecans</li>
    <li>3 to 4 cups cranberries</li>
    <li>2 teaspoons vanilla</li>
  </ul>
{% endblock %}

{% block instructions %}
  <ul>
    <li>Cook sugar, salt, butter, and corn syrup on stove</li>
    <li>Add cranberries, pecans, eggs, and vanilla</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/cranberry_pecan_pie.jpg">
{% endblock %}
