{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Fruit Crisp</h1>
  <br/>By <a herf="https://www.tasteofhome.com/recipes/plum-crisp-with-crunchy-oat-topping/">Taste of Home</a>.<br/>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>3/4 cup old-fashioned oats</li>
    <li>1/3 cup all-purpose flour</li>
    <li>1/4 cup plus 2 tablespoons sugar, divided</li>
    <li>1/4 cup packed brown sugar</li>
    <li>1/4 teaspoon salt</li>
    <li>1/4 teaspoon ground cinnamon</li>
    <li>1/4 teaspoon ground nutmeg</li>
    <li>3 tablespoons butter, softened</li>
    <li>1/4 cup chopped walnuts</li>
    <li>5 cups sliced fresh plums (about 2 pounds)</li>
    <li>1 tablespoon quick-cooking tapioca</li>
    <li>2 teaspoons lemon juice</li>
  </ul>
{% endblock %}

{% block instruction %}
  <h3>Instructions</h3>
  <ul>
    <li>In a small bowl, combine the oats, flour, 1/4 cup sugar, brown sugar, salt, cinnamon and nutmeg. With clean hands, work butter into sugar mixture until well combined. Add nuts; toss to combine. Refrigerate for 15 minutes.</li>
    <li>Meanwhile, in a large bowl, combine the plums, tapioca, lemon juice and remaining sugar. Transfer to a greased 9-in. pie plate. Let stand for 15 minutes. Sprinkle topping over plum mixture.</li>
    <li>Bake at 375F until topping is golden brown and plums are tender, 40-45 minutes. Serve warm.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
