<br/> 
<br/>
<br/>Top Secret Recipes® version of IHOP® Pancakes
<br/>
<br/>By Todd Wilbur
<br/>
<br/>Even though the early press runs of the first book, Top Secret Recipes, excluded buttermilk in this recipe -- a
<br/>very important ingredient if you really want pourable batter -- many figured out the missing ingredient on their
<br/>own and the error was quickly corrected in later copies. Now we just like to call those copies of the book the
<br/>"Collector's Editions." For any of you who were lucky enough to get one of the "Collector's Editions" we'd liked to
<br/>say "Congratulations!" Now here's the recipe, in its entirety, to make pancakes just like those served every day at
<br/>IHOP.
<br/>
<br/>Nonstick Spray
<br/>1 1/4 cups all-purpose flour
<br/>1 egg
<br/>1 1/4 cups buttermilk
<br/>1/4 cup granulated sugar
<br/>1 heaping teaspoon baking powder
<br/>1 teaspoon baking soda
<br/>1/4 cup cooking oil
<br/>pinch of salt
<br/>
<br/>1. Preheat a skillet over medium heat. Use a pan with a nonstick surface or apply a little nonstick spray.
<br/>2. In a blender or with a mixer, combine all of the remaining ingredients until smooth.
<br/>3. Laddle approximately 1/3 cup of the batter into the hot skillet, forming 5-inch circles.
<br/>4. When the edges appear to harden, after a minute or two, flip the pancakes. They should be golden brown
<br/>5. Cook pancakes on the other side for same amount of time, until golden brown.
<br/>
<br/>Makes 8 to 10 pancakes.
<br/>
