{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>One-Pot Braised Chard With Gnocchi, Peas and Leeks</h1>
  <br/>From <a href="https://cooking.nytimes.com/recipes/1022150-one-pot-braised-chard-with-gnocchi-peas-and-leeks">Melissa Clark, NY Times Cooking</a>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>4 tablespoons unsalted butter</li>
    <li>3 leeks, white and light green parts, sliced thinly into half-moons</li>
    <li>1 pound chard, preferably rainbow or red (about 2 bunches), stems thinly sliced and leaves coarsely chopped</li>
    <li>3 garlic cloves, minced or finely grated</li>
    <li>2 teaspoons chopped thyme leaves</li>
    <li>3/4 cup dry white wine</li>
    <li>3 cups vegetable or chicken stock</li>
    <li>1 pound potato gnocchi (fresh, frozen or shelf-stable all work)</li>
    <li>2 cups peas, fresh or frozen</li>
    <li>2 tablespoons chopped fresh tarragon leaves</li>
    <li>1 cup torn parsley leaves and tender stems, for serving</li>
    <li>Grated Parmesan, for serving</li>
    <li>Lemon wedges, for serving</li>
    <li>Fresh ricotta, for serving (optional)</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
     <li>In a 5- or 6-quart Dutch oven, melt butter over medium-high heat. Add leeks and chard stems, and cook until tender and lightly brown, 7 to 10 minutes.</li>
     <li>Stir in garlic, thyme and a large pinch of salt and black pepper, and sauté until fragrant, about 1 minute longer. Add wine, scraping up the brown bits at bottom of pot, and let the wine reduce by half, 2 to 4 minutes. Pour in stock and 3/4 teaspoon salt, and bring to a simmer.</li>
     <li>Stir in gnocchi and chard leaves. Cook, partly covered, for 15 minutes, until the chard is soft. Add peas and tarragon, and continue to cook, partly covered, until gnocchi are cooked through, another 5 to 10 minutes. Taste and add more salt, if needed.</li>
     <li>To serve, top with parsley, a generous shower of Parmesan and a big squeeze of lemon. If you like, you can also add a dollop of ricotta and some red-pepper flakes.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}

