{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Green Chile</h1>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>3 med onions</li>
    <li>6 cloves garlic</li>
    <li>1 6 lb can green chiles</li>
    <li>3 (2?) lbs pork</li>
    <li>4 bay leaves</li>
    <li>cumin</li>
    <li>oregeno</li>
    <li>2 Tbsp all purpose flour</li>
    <li>4 Tbsp water</li>
    <li>salt and pepper to taste</li>
  </ul>

{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>brown pork in oil</li>
    <li>Add onions and cook until translucent</li>
    <li>Add chopped green chiles</li>
    <li>Add bay leaves</li>
    <li>Add spices</li>
    <li>Bring mixture to a boil, reduce heat and simmer about 1 hour, stirring occasionally, until green chiles are falling apart.</li>
    <li>Mix flour and water, stir into stew to thicken</li>
    <li>Simmer 15 minutes more to cook flour</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/green_chile_before.jpg">
  <img class="img-responsive" src="/images/green_chile_after.jpg">
{% endblock %}
