{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Instant Pot Steel-Cut Oatmeal</h1>
{% endblock %}

{% block ingredients %}
  <ul>
    <li>Prep Time 5 minutes</li>
    <li>Cook Time 45 minutes</li>
  </ul>

  <h3>Ingredients</h3>
  <ul>
    <li>2 cups steel-cut oats</li>
    <li>5 cups water</li>
    <li>5 min manual cook setting on instant pot</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Put oats and water in the Instant Pot 
    <li>Set the lid to "sealing"
    <li>Press the Manual button, set to 5 minutes (getting up to pressure will take ~20min)
    <li>After is complete, allow the pressure to naturally release for ~20 minutes. Extra time is fine
    <li>Stir oats to mix in any excess water
  </ul>

  <h3>To set the delay timer on Instant Pot:</h3>
  <ul>
    <li>Press "Manual" button</li>
    <li>Adjust the cooking time with +/- buttons</li>
    <li>Press "Delay Start" button</li>
    <li>Set the delay cooking time with +/- buttons</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/8/4/0/EA1E06_steel-cut-oatmeal_s4x3.jpg.rend.hgtvcom.616.462.suffix/1385419663918.jpeg">
{% endblock %}
