{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Instant Pot Steel-Cut Oatmeal</h1>
{% endblock %}

{% block ingredients %}
  <ul>
    <li>Prep Time 5 minutes</li>
    <li>Cook Time 24 minutes</li>
    <li>Servings 6 servings</li>
    <li>By Megan Gilmore</li>
  </ul>

  <h3>Ingredients</h3>
  <ul>
    <li>2 cups steel-cut oats</li>
    <li>5 cups water</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Combine the steel-cut oats and water in the bowl of a 6-quart Instant Pot and give them a stir. 
    <li>Secure the lid and turn the steam release valve at the top to "sealing." 
    <li>Press the Manual or Pressure Cook button, then set the cook time to 4 minutes on high pressure.
    <li>The Instant Pot will read "ON" as it comes to pressure, which can take 10 to 15 minutes.
    <li>When the floating valve in the lid pops up, you'll know the pot is pressurized and the countdown will begin.
    <li>When the cooking cycle is complete, allow the pressure to naturally release for 20 minutes.
    <li>Once the 20 minutes have passed, turn the steam release valve to "venting" to release any remaining pressure. 
    <li>Carefully remove the lid and stir the oats to incorporate any water that has risen to the top.
    <li>They might look watery at first, but should thicken up when you stir them.
  </ul>

  <h3>To set the delay timer on Instant Pot:</h3>
  <ul>
    <li>Press "Manual" button</li>
    <li>Adjust the cooking time with +/- buttons</li>
    <li>Press "Delay Start" button</li>
    <li>Set the delay cooking time with +/- buttons</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/grits.jpg">
{% endblock %}
