{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Instant Pot Mexican Rice</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
	<li>1 tablespoon avocado oil, or more as needed</li>
	<li>1/2 medium onion, finely chopped  </li>
	<li>2 large cloves garlic, minced</li>
	<li>1 cup long-grain rice</li>
	<li>1 1/2 cup stock</li>
	<li>0.5 cup tomato sauce</li>
	<li>1 teaspoon salt</li>
	<li>1/4 teaspoon ground cumin</li>
	<li>1 pinch cayenne pepper</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Turn on instant pot</li>
    <li>Select Saute function and adjust to medium. </li>
    <li>Cover the bottom of the pot with avocado oil. </li>
    <li>Cook and stir onion until soft, 4 to 5 minutes. </li>
    <li>Add garlic and cook until fragrant, about 30 seconds.</li>
    <li>Add rice to the pot and mix until coated with oil and lightly browned. </li>
    <li>Pour in chicken stock; stir any browned bits off the bottom of the pot. </li>
    <li>Mix in tomato sauce, salt, cumin, and cayenne pepper. </li>
    <li>Close and lock the lid. </li>
    <li>Seal the vent and select high pressure function. </li>
    <li>Set timer for 7 minutes; allow 10 to 15 minutes for pressure to build.</li>
    <li>Open after 5 minute rest</li>
  </ul>
{% endblock %}

{% block photos %}
  <!--<img class="img-responsive" src="/images/grits.jpg">--->
{% endblock %}

