{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Key Lime Pie</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <h4>Graham Cracker Crust:</h4>
  <ul>
    <li>1/3 of a 1-pound box graham crackers</li>
    <li>5 tablespoons melted unsalted butter</li>
    <li>1/3 cup sugar (or less)</li>
  </ul>
  <h4>Filling:</h4>
  <ul>
    <li>3 egg yolks</li>
    <li>2 teaspoons lime zest</li>
    <li>1 (14-ounce) can sweetened condensed milk</li>
    <li>2/3 cup freshly squeezed Key lime juice, or store bought</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>PREPARATION</h3>
  <h4>For the graham cracker crust</h4>
  <ul>
    <li>Preheat the oven to 350 degrees F.</li>
    <li>Break up the graham crackers; place in a food processor and process to crumbs. </li>
    <li>Add the melted butter and sugar and pulse or stir until combined. </li>
    <li>Press the mixture into the bottom and side of a pie pan, forming a neat border around the edge. </li>
    <li>Bake the crust until set and golden, 8 minutes. </li>
    <li>Set aside on a wire rack; leave the oven on.</li>
  </ul>
  <h4>For the filling</h4>
  <ul>
    <li>In an electric mixer with the wire whisk attachment, beat the egg yolks and lime zest at high speed until very fluffy, about 5 minutes. </li>
    <li>Gradually add the condensed milk and continue to beat until thick, 3 or 4 minutes longer. </li>
    <li>Lower the mixer speed and slowly add the lime juice, mixing just until combined, no longer. </li>
    <li>Pour the mixture into the crust. </li>
    <li>Bake for 10 minutes, or until the filling has just set. </li>
    <li>Cool on a wire rack, then refrigerate. </li>
    <li>Freeze for 15 to 20 minutes before serving.</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="https://lh3.googleusercontent.com/T7LmJP35OVjREmpVRlq_eRdGCSvtPoKgsftvIs7qXFCzFdaVWpf9M76DF1eogDrXrhLdUh4GhM6IJ7e5Juq8USewM3qDPo5fUMw3NoGj6ttilvqXRXtX_u_2rOszyKoXD4Ri1RqtyDo3hVAyYbmLjQHcCnCx6pUGFfMt6yYeXf2MpMnuD5wtHbrJCBnihxx1a_TJfAS6iPv7j0eu5kvWBqZKmwEfOfgHNT4gNHSJIZtmFp2NIngoLKVSsqaDT0UCevVSjiDFAH0XfEaLeY7rH2aFyAPvZatH6v27L3PxIuLaT_SGTsLcRwF6pGHZHLPDmeP_L2WWt9ldEOnRfAKB0lD6GaMfylpMLE9gEfhxtgFz73pnD7SV0GyXaHaRV57JRGf2miZ6Q2crThS2We0_FsHWfO6xJHWbXN0j8AuSRqnu1bsN6yo5Pkn9taDQ2HtaUiiXkfRcG5RGgOoHpIqQIaQxpXgI3E0Ab6AtYoHGxaj7_PJ_D-Xm-4Q6D0jtN6tmhxDLJwjW6c-rNum0Cdv26iaKMQMqJmVB8BpdKQWr81bDgI1YIMNJdJOvyCd7yZj6hIef_kFaFrIe4Ii9zfI660Zwrsd5DWPZ6uO_BIv-BGAkefRynzTongR2nEuEYT3AjjLWn3I4z1P8VNEXY5OBk-MbBfPuZf-6I0NOaNs6KVPxmnlUfiT9fLxM1w76DWg=w970-h981-no?authuser=0">
  <img class="img-responsive" src="https://lh3.googleusercontent.com/hXp1hpu4HMl8fQpHkkqgyNEak2-EpuCu1sM9PRd3Yf0hBhqBaaUT0YcYX_dum1IIvJ0KKZsTn-7te-x8kanPBkux1w7XKw7Cb6ablw0R10qUvGh356RaLvpyf2Tng3V4ESZpfQnfaav-k7Hs_vfhWU4qjtBgkgmGRT-CNHH4WyZRzcTWbysbCjhqHA8V2s5MMVzsWhA7skS08LFO9gVodPBgatmlttO_X7w9DmcsP1LspfJThqRNNgFqb7b4kBp27Cyy6aKlbwLEql63EGiMW5sOZefpJy2xOU0vCplc-0PVNJihKBkW-L-gFsc6zDeAUQlXvdlMk8SJUDLRH7ejh5RIP_aqlr8GfyeCNNakWrm892H_zC1kVfYNzC6h0A4uxm4VIcsW34Xjp-5N7ozVUs15lrBKKZkqPyp5R9t6aepSHmsN8_QtbbEe2WGIqabNPqLpGv4N38wyv_kLZw1pRScVkmZdHJ49pFpRJs0NkxBNFxkYSfq_phOAUIfz5erW8cY1FrPee9bZ-aF9Lyk6p7MW2weAtvHSL3Y4pVnzgri1l03XvHQcGg8MRuhY3c4Yj7VhMbcXOaHpUu1Fucw-nTp_te51KFCDqN_oIVeX-oxA7ts5JlgoUh_R-sFs49DOuphtvrCoiQQwDkCHcSbx5A8Tz-ohgFdXBNLnmBdhKxCfD17BYmq9yIcC1dPso2o=w1208-h981-no?authuser=0">
  <img class="img-responsive" src="https://lh3.googleusercontent.com/Umfyr3Anaaubc0Yf0OI1L2ewxfhnRMH2fg9RcHzUgIsuo7Q797G0CEnpLKeeMR2XPgLiTpr93gbejHlTy6vDUYeUUEzLJlWurY70QK7GCGgBFjNGUjmTLt_G0ug62-G1HW1n5tV6iuwLd5jUFe75WbZcVwFGjxeADelRQnaFGFbfLRXNn02OGQeIA75lSjuC19kowgkWoWBSYYjIwiZ5BlLWr1_F53mwsG-96XdrobeH9hXM_ZvvjqHSb4ljJW7UbWNihOoOssiNfsCS1TMP88RNLxGNOsW6LceUTh_la8csNhdPA5mefSxPjxArb9RppjdcJiF2LPGafDXOnVbqPzFVZfvMN5pysYDVd0wJVR5SnzTHQtps36RVu-Tm93RE6-0egMqIAd1TmnUKrgPqglBQh4OPD-NYJJ2RqY4IBPn4qOTvnntVkJdZsPn8hVYLUT8u8cWay6bPR6QufjGIRasLBbVNNStq54v9yuM3HnZx-imf_H4933427pac7JW3b1otxkrCVkullaoDROi_F_vYxM8WRJv_CdDE5hAfEXXLfCDi1Xlr8r-F7GmikfECgbM25iYdrYuCODonfJ95UL_Co2xPO873CHtOrF4s8vyTfmZyICV4wXlgOydDqjMrONs5_AAT179WfzqhDU6QE7xGKVfPjMOs75IYh1sTlBUHDF2PFFIKo9c66PJxtWw=w925-h981-no?authuser=0">
{% endblock %}
