{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Matar Paneer</h1>
{% endblock %}

{% block ingredients %}
  <br/>Matar paneer is a delicious dish made by cooking paneer and green peas in spicy
  onion tomato masala.  This recipe will give you restaurant style creamy and
  rich matar paneer. It tastes amazing to serve with rice, naan or paratha.

  <br/>Prep Time: 10 minutes
  <br/>Cook Time: 35 minutes
  <br/>Total Time: 45 minutes
  <br/>
  <br/>Servings 4
  <br/>Author Swasthi

  <h3>Ingredients</h3>
  <h4>To fry and puree</h4>
  <ul>
    <li>1.5 cup tomatoes (2 large) chopped</li>
    <li>1 inch ginger or adrak (cut to pieces)</li>
    <li>1 cup onions cubed (1 large or 2 medium)</li>
    <li>3 garlic cloves</li>
    <li>2 cardamoms or elaichi</li>
    <li>10 cashewnuts</li>
    <li>1/2 tsp Salt</li>
    <li>1 tbsp oil</li>
  </ul>
  
  <h4>For matar paneer gravy</h4>
  <ul>
    <li>250 grams paneer or indian cottage cheese
    <li>1 cup green peas or matar (boiled or frozen)
    <li>1 cup water (use more if needed)
    <li>1 inch cinnamon or dalchini (optional)
    <li>1 green chili deseeded and slit 
    <li>1 small bay leaf (optional)
    <li>1 tsp red chili powder (less spicy variety)
    <li>1/8 tsp turmeric or haldi
    <li>1 tsp garam masala
    <li>1/2 tsp coriander powder
    <li>1 tsp Kasuri methi or dried fenugreek leaves
    <li>1/4 tsp salt 
    <li>3 to 4 tbsp cream
    <li>2 tbsp oil or butter
    <li>2 tbsp coriander leaves or cilantro
  </ul>
{% endblock %}

{% block instructions %}
  <h4>Preparation for mutter paneer</h4>
  <ul>
    <li>If using store-bought paneer, soak it in a bowl of hot water for 20 mins. Drain the water and use. This step helps to keep the paneer soft.</li>
    <li>Pour 1 tbsp oil to a hot pan. </li>
    <li>When the oil turns hot, add 2 green cardamoms, ginger and garlic. </li>
    <li>Fry for a minute.</li>
    <li>Next add 1 cup chopped onions and fry until they turn light golden. </li>
    <li>Put in 1 1/2 cup tomatoes, 1/8 tsp turmeric and 1/4 tsp salt. </li>
    <li>Saute for 2 to 3 mins. Cook covered until soft and mushy. </li>
    <li>Add 10 cashews. Cool this completely. Make a fine puree of this in a blender without water.</li>
  </ul>
  
  <h4>How to make matar paneer</h4>
  <ul>
    <li>Heat 2 Tbsps oil in the same pan. </li>
    <li>Saute 1 inch cinnamon and 1 bay leaf for a minute. </li>
    <li>Pour the pureed onion tomato mixture.</li>
    <li>Add 1 tsp chili powder, 1 tsp garam masala and 1/2 tsp coriander powder. </li>
    <li>Saute until the masala leaves the sides of the pan. Keep stirring to prevent burning.</li>
    <li>Next add 1/2 cup green peas. </li>
    <li>Pour 1 to 1 1/4 cups water. If using fresh peas, boil them until tender in a pot, drain and use. If using frozen peas then you can rinse and use. </li>
    <li>Mix well to make a thick gravy. Add more water if needed.</li>
    <li>Mix and cook covered on a medium heat until the gravy thickens and traces of oil appear over the gravy.</li>
    <li>Crush 1 tsp kasuri methi in your palm and sprinkle all over. Mix well. </li>
    <li>Check salt and add more if needed.</li>
    <li>Add paneer and 1 slit green chili </li>
    <li>Cover and cook just for 2 mins. Sprinkle coriander leaves and cream. </li>
    <li>Stir well. Serve matar paneer with rice, naan or paratha.</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/matar_paneer.jpg">
{% endblock %}
