{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Gluten-Free Orange Cake</h1>
  <h2>Modified from <a href="https://www.recipetineats.com/flourless-orange-cake">Nagi's recipe</a></h2>.
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>2 medium oranges, fresh whole with rind on - any type 600g total weight</li>
    <li>1 1/4 tsp baking powder</li>
    <li>6 large eggs</li>
    <li>1 1/4 cups white sugar</li>
    <li>2 3/4 cups almond flour</li>
    <li>vanilla</li>
    <li>salt</li>
  </ul>
{% endblock %}


{% block instructions %}
  <h3>Instructions</h3>
  <h4>Boil oranges</h4>
  <ul>
    <li>Place oranges in a pot and cover with cold water.</li>
    <li>Boil for 10 minutes and drain.</li>
    <li>Repeat x 2: Put oranges back in the pot, cover with cold water and boil again for 10 minutes two times.</li>
    <li>Shortcut: Boil 40 minutes without draining, keeping an eye on water level.</li>
  </ul>
  
  <h4>Chop:</h4>
  <ul>
    <li>Rinse oranges, then cool slightly so you can handle them.</li>
    <li>Slice into quarter-inch slices then dice and remove seeds.</li>
    <li>Cool completely.</li>
  </ul>
  
  <h4>Mix:</h4>
  <ul>
    <li>Preheat oven to 320F</li>
    <li>Grease and line a 9" cake pan with baking/parchment paper</li>
    <li>Place chopped oranges in a food processor</li>
    <li>Blitz on high for 4 x 10 second bursts, scraping down the sides in between, until it's pureed into a marmalade consistency with only a few visible bits of rind remaining. It does not need to be completely smooth.</li>
    <li>Blitz in remaining ingredients for 5 - 10 seconds on high until combined.</li>
    <li>Pour into prepared cake pans.</li>
    <li>Bake 60 minutes until the surface is golden and a toothpick inserted into the centre comes out clean.</li>
  </ul>
  
  <h4>Cool: </h4>
  <ul>
    <li>Cool fully in cake pan.</li>
    <li>Unless using loose base pan, cover surface with baking paper to help you turn it out (cake is sticky so may stick to your hand and tear surface otherwise).</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/orange_cake.jpg">
{% endblock %}
