<html>

<head>
  <link rel="shortcut icon" href="/images/pancakes.ico" type="image/x-icon"/>
</head>

<body>
  <h1>Homemade Cafe Style Buttermilk Pancakes</h1>
  <h2>(Bette's recipe + 30g flour, all buttermilk, no sugar, half butter)</h2>
  <h3>By <a href="https://twitter.com/eastbaypancakes">@EastBayPancakes</a></h3>

  <h4>Ingredients</h4>
  <ul>
    <li>300 g flour</li>
    <li>2 tsp baking powder</li>
    <li>1 tsp baking soda</li>
    <li>1 tsp salt</li>
    <li>2 eggs separated, whites whipped to soft peaks</li>
    <li>2 Tbsp butter melted and cooled</li>
    <li>2.5 cups buttermilk</li>
  </ul>

  <h4>Instructions</h4>
  <ul>
    <li>Sift dry ingredients together and set aside</li>
    <li>Mix buttermilk, butter, and egg yolks together</li>
    <li>Gently fold wet ingredients into dry, do not overmix</li>
    <li>Gently fold whites into mixture</li>
    <li>Rest batter for 10 miniutes</li>
    <li>Gently scoop 1/2 - 1 cup batter per pancake onto a medium-hot buttered griddle</li>
    <li>Carefully turn over pancake when bubbles appear on top. Batter will not bubble through much since it is extra-thick</li>
  </ul>

  <img width="75%" src="/images/pancakes.jpg">

</body>

</html>
