{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Pepitas Salsa</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>15 chiles de arbol</li>
    <li>4 chiles de anchos</li>
    <li>2 chiles de japones</li>
    <li>8 cloves garlic</li>
    <li>2 cups pepitas</li>
    <li>4 Tablespoons sesame seeds</li>
    <li>1 Tablespoon salt</li>
    <li>6 teaspoons cider vinegar</li>
    <li>juice of 2 limes</li>
    <li>1 can diced tomatoes</li>
    <li>a little water</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Fry chiles, garlic, pepitas, and sesame seeds in 1 cup oil</li>
    <li>(First chiles, then garlic, then pepitas, and then sesame seeds)</li>
    <li>Blend chiles & garlic</li>
    <li>Then add pepitas & blend</li>
    <li>Then add liquids</li>
  </ul>
{% endblock %}

{% block photos %}
  <!-- <img class="img-responsive" src="/images/pumpkin_pie_recipe.jpg"> -->
{% endblock %}
