{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Joy of Cooking Pie Dough</h1>
{% endblock %}

{% block ingredients%}
  <ul>
    <li>6.5 oz frozen butter</li>
    <li>2.5 cups white all-purpose flour, pref frozen</li>
    <li>2 cups ice water</li>
  </ul>
{% endblock %}

{% block instructions %}
  <ul>
    <li>Cut frozen butter with cleaver into ~1-inch cubes</li>
    <li>Blend butter and flour together in cuisinart until consistency of cornmeal. Should still be cold</li>
    <li>Put flour/butter mixutre into large bowl and</li>
    <li>Add ice water a quarter cup at a time, mixing until it becomes a workable dough</li>
  </ul>
{% endblock %

{% block photos %}
  <img class="img-responsive" src="/images/pie_dough1.jpg">
  <img class="img-responsive" src="/images/pie_dough2.jpg">
{% endblock %}
