{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Pumpkin Muffins</h1>
  <h2>from <a href="https://smittenkitchen.com/2006/10/promise-keeper-pumpkin-eater">Smitten Kitchen</a></h2>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>3 cups white flour</li>
    <li>1.5 cups whole wheat flour</li>
    <li>1 Tablespoon baking powder</li>
    <li>1.5 teaspoon baking soda</li>
    <li>1.5 teaspoon table salt</li>
    <li>2 Tablespoon cinnamon </li>
    <li>1 teaspoon nutmeg </li>
    <li>1 teaspoon ginger </li>
    <li>1/4 teaspoon ground cloves </li>
    <li>1/4 teaspoon allspice</li>
    <li>29 oz can pumpkin</li>
    <li>1 cup vegetable oil</li>
    <li>6 eggs</li>
    <li>1.5 cups sugar</li>
  </ul>
{% endblock %}


{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Heat oven to 350 degrees.</li>
    <li>Put liners in 30 standard-sized muffin cups.</li>
    <li>Stir or whisk together flour, baking powder, baking soda, salt and spice in small/medium bowl.</li>
    <li>In a larger bowl, whisk together pumpkin, oil, eggs and 1 1/4 cups sugar.</li>
    <li>Add dry ingredients to wet and stir until just combined. </li>
    <li>Divide batter among muffin cups (red scooper (45ml) per muffin)</li>
    <li>Bake ~25 min</li>
    <li>Cool in pan on a rack five minutes, then transfer muffins from pan to rack and cool to warm or room temperature.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
