{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Pumpkin Pie</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>15 oz can pumpkin</li>
    <li>12 oz can evaporated milk</li>
    <li>3/4 cup sugar</li>
    <li>1/2 tsp salt</li>
    <li>1 tsp cinnamon</li>
    <li>1/2 tsp ginger</li>
    <li>1/4 tsp cloves</li>
    <li>2 eggs</li>
    <li>Unbaked crust</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Mix dry ingredients</li>
    <li>Beat eggs</li>
    <li>Stir pumpkin and dry ingredients into eggs</li>
    <li>Gradually stir in milk</li>
    <li>Bake at 425 F for 15 minutes, then 350 F for 30-40 minutes</li>
  </ul>
{% endblock %}


<pre>
Bake Time: 70 minutes to 75 minutes
Servings: 8-10
Source: Copyright © 2025 Crixa, Inc.
https://crixa.net/crixa-pumpkin-pie-9-inch/

Crixa Pumpkin Pie, 9-inch

Description
KQED's food editor, Luke Tsai called this pie, The Greatest Pumpkin Pie on Earth.
Make sure your spices are fresh before starting this recipe. The ginger and cinnamon
should make you sneeze if you give them a good sniff. Likewise, the nutmeg and cloves
should be brightly fragrant. The same goes for the allspice, but more so; it is best when
freshly ground (or recently purchased) as it looses its oomph so quickly. Do the best you
can.

The quantity of spices given are small, but important, and the most important ingredient
here is hidden: time. If you can, combine the filling and set it aside overnight, or up to 5
days. This will allow for the spices to really develop and give you a more delicious pie
filling.

INGREDIENT
Brown Sugar, firmly packed 1/3 cup
White Sugar, granulated 3/4  cup
Salt, slightly generous 1/2 tsp
Ground Cinnamon1 3/4 tsp
Ground Ginger 3/4 tsp
Ground Cloves 1/4 tsp
Ground Allspice 1/8 tsp
Ground Nutmeg 1/8 tsp
Pumpkin Puree, canned 2 1/4 - 2 1/3 cups
Large Eggs 3
Half and Half 1 1/2 cups
Heavy Cream 1/4 cup

Directions
1.  In a small bowl combine the two sugars, all of the spices and the salt.
Whisk together to mix everything and break up any lumps and clumps.

2. Place the pumpkin puree in a medium bowl and whisk in the spiced sugar, then
the eggs. When the eggs and sugar look evenly incorporated whisk in the cream
and half and half until smooth.

3. The filling is now ready to use, or (even better) scrape it all into a
tight-lidded container and store it in the refrigerator for up to 5 days.

4. When you are ready to bake off your pie, preheat your oven to 375˚ F and set
a rack to a middle position. Place your well-chilled, prepared 9-inch x 2-inch
round pie shell onto a baking sheet lined with lightly oiled parchment paper.
Inspect the dough for any holes, weak spots, or bubbles and attend to them now.

5. Give the filling a good stir. If you have made it ahead of time, the water
from the pumpkin may rise to the top and form a thin layer that needs to be
mixed back in.  Mixy, mixy! Now pour the filling into your prepared pie shell,
taking care not to splash onto the crust shoulders (you can wipe it off with a
damp bit of paper towel if it does).

6. Bake on a center rack in the oven until the filling is a deep amber and
slightly raised and puffy around the edges. The center should be slightly
jiggly when you give the pan a nudge, and the crust should be golden brown.
Depending on how cold the filling was
https://crixa.net/crixa-pumpkin-pie-9-inch/ (just mixed, or stored at least
overnight in the fridge) figure on around 70 minutes to 75 minutes. But it
could take as long as an hour and a half. Check at around 60 minutes to get the
lay of the land, as all ovens are different and bake times will vary.

7. When deemed done, remove the pie from the oven and let cool completely at
room temperature before removing the ring and transferring to a serving plate.
Serve cold or at room temperature. Leftovers are best stored in the
refrigerator, and will keep for up to five days if well covered.

If you plan on baking several pies in a season, or just want a more accurate
spice blend, combine the following very well, and use 1 Tbsp in the recipe
above:
   3 Tbsp ground cinnamon
   4 tsp ground ginger
   1 tsp ground cloves
   1/2 tsp ground allspice
   1/2 tsp ground nutmeg.
This quality will just about fill a small spice jar, if you happen to have an
empty one lying about.
</pre>

{% block photos %}
  <img class="img-responsive" src="/images/pumpkin_pie_recipe.jpg">
{% endblock %}
