{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Pumpkin Pancakes</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>1 1/2 cups/192 grams all-purpose flour</li>
    <li>2 tablespoons sugar</li>
    <li>1 1/2 teaspoons baking powder</li>
    <li>3/4 teaspoon baking soda</li>
    <li>3/4 teaspoon kosher salt</li>
    <li>1 1/2 teaspoons ground cinnamon</li>
    <li>1 teaspoon ground ginger</li>
    <li>1/8 teaspoon freshly grated nutmeg</li>
    <li>1 1/2 cups buttermilk</li>
    <li>3/4 cup pumpkin puree</li>
    <li>2 eggs</li>
    <li>3 tablespoons melted butter</li>
    <li>1 teaspoon vanilla extract</li>
  </ul>
{% endblock %}


{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>In a large bowl, whisk the flour, sugar, baking powder, baking soda, salt and spices together until well combined.</li>
    <li>In a medium bowl, whisk the buttermilk, pumpkin purée, eggs, melted butter and vanilla extract until well combined.</li>
    <li>Add the wet ingredients to the dry ingredients and gently fold with a rubber spatula until just combined. (A few small lumps are O.K.)</li>
    <li>Heat a lightly greased griddle or nonstick skillet over medium-low heat. Drop the pancakes into the pan by the quarter cup, making sure to leave plenty of room in between for the batter to expand.</li>
    <li>Cook for a minute or two, until the batter bubbles at the edges and browns on the bottom, then carefully flip. Cook another minute or two, until the batter is completely cooked through and the pancakes are puffy and deep golden brown. Repeat until all of the batter is used.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
