{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Pumpkin Pie</h1>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>15 oz can pumpkin</li>
    <li>12 oz can evaporated milk</li>
    <li>3/4 cup sugar</li>
    <li>1/2 tsp salt</li>
    <li>1 tsp cinnamon</li>
    <li>1/2 tsp ginger</li>
    <li>1/4 tsp cloves</li>
    <li>2 eggs</li>
    <li>Unbaked crust</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Mix dry ingredients</li>
    <li>Beat eggs</li>
    <li>Stir pumpkin and dry ingredients into eggs</li>
    <li>Gradually stir in milk</li>
    <li>Bake at 425 F for 15 minutes, then 350 F for 30-40 minutes</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/pumpkin_pie_recipe.jpg">
{% endblock %}
