{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h2></h2>
{% endblock %}

{% block ingredients %}

  <h2>Breakfast</h2>
  <!-- <h3><a href="/pancakes">Buttermilk pancakes (the best)</a></h3> --> <!-- Special URL for pancakes, new entries need a /recipes prefix -->
  <h3><a href="http://pancake.town">Buttermilk pancakes (the best)</a></h3>
  <h3><a href="https://www.oliveandmango.com/fluffy-lemon-ricotta-waffles">Ricotta Lemon Waffles</a></h3>
  <h3><a href="/recipes/eggs">Hard boiled eggs</a></h3>
  <h3><a href="/recipes/gail_lambson_ihop_pancakes">Gail Lambson's IHOP Pancakes</a></h3>
  <h3><a href="/recipes/sourdough-pancakes">Sourdough buttermilk pancakes</a></h3>
  <h3><a href="https://www.foodandwine.com/recipes/light-and-crispy-waffles">Super-Crispy Waffles</a></h3>
  <h3><a href="/recipes/waffles">Yogurt waffles</a></h3>
  <h3><a href="/recipes/oatmeal">Instant Pot Steel-Cut Oatmeal</a></h3>
  <h3><a href="/recipes/dutch-baby">Sourdough Dutch Baby</a></h3>

  <h2>Bread</h2>
  <h3><a href="https://www.foodnetwork.com/recipes/bobby-flay/parker-house-rolls-recipe2-1916763">Parker House Rolls</a></h3>
  <h3><a href="http://www.simplelifebykels.com/sourdough-banana-bread/">Sourdough Banana Bread</a></h3>
  <h3><a href="https://alexandracooks.com/2020/05/01/simple-sourdough-pizza-a-step-by-step-guide">Sourdough Pizza Dough</a></h3>
  <h3><a href="https://www.kingarthurflour.com/recipes/the-easiest-loaf-of-bread-youll-ever-bake-recipe">King Arthur Easy Bread</a></h3>
  <h3><a href="https://www.kingarthurbaking.com/recipes/sourdough-english-muffins-recipe">King Arthur Sourdough English Muffins</a></h3>
  <h3><a href="https://www.seedtopantry.com/2015/09/19/sourdough-zucchini-bread/">Sourdough Zucchini Bread</a></h3>
  <h3><a href="https://smittenkitchen.com/2006/10/promise-keeper-pumpkin-eater/">Pumpkin Turkey Cake</a></h3>
  <h3><a href="https://www.culturesforhealth.com/learn/recipe/sourdough-recipes/sourdough-crepes/">Sourdough Crepes</a></h3>
  <h3><a href="https://littlespoonfarm.com/sourdough-crepes-recipe">Little Spoon Farm Sourdough Crepes</a></h3>
  <h3><a href="https://www.foodnetwork.com/recipes/ina-garten/irish-soda-bread-recipe-1949134">Irish Soda Bread</a>
{% endblock %}

{% block instructions %}
  <h2>Dinner</h2>
  <h3><a href="/recipes/matzo_lasagne">Matzo (Matzoh) Lasagne</a></h3>
  <h3><a href="https://smittenkitchen.com/2021/08/baked-farro-with-summer-vegetables/">Baked Faro Casserole</a></h3>
  <h3><a href="https://www.wokandskillet.com/chinese-egg-and-tomato/">Chinese egg & tomato</a></h3>
  <h3><a href="/recipes/green-chile">Green Chile</a></h3>
  <h3><a href="https://houseofnasheats.com/green-chili-egg-casserole/">Green Chile Casserole</a></h3>
  <h3><a href="https://www.bonappetit.com/recipe/quick-kimchi-pancakes">Kimchi Pancakes</a></h3>
  <h3><a href="https://www.foodnetwork.com/recipes/aarti-sequeira/saag-paneer1-1927603">Saag Paneer</a></h3>
  <h3><a href="/recipes/gnocchi-with-chard">One-Pot Braised Chard With Gnocchi, Peas and Leeks</a></h3> 
  <h3><a href="https://www.realsimple.com/food-recipes/cooking-tips-techniques/baked-feta-pasta-tiktok">TikTok Feta Noodle Bake</a></h3>
  <h3><a href="/recipes/pepitas-salsa">Pepitas Salsa</a></h3>
  <h3><a href="/recipes/rice">Instant Pot Mexican Rice</a></h3>
  <h3><a href="https://www.thechunkychef.com/wprm_print/10061">Oven-Baked Mexican Rice</a></h3>
  <h3><a href="https://www.epicurious.com/recipes/food/views/pumpkin-stuffed-with-everything-good-361169">Stuffed Pumpkin</a></h3>
  <h3><a href="/recipes/mujadara">Mujadara</a></h3>
  <h3><a href="https://www.acozykitchen.com/instant-pot-cuban-black-bean-soup">Cuban Black Bean Soup</a></h3>
  <h3><a href="https://food52.com/recipes/33897-tahini-noodles">Tahini Noodles</a></h3>
  <h3><a href="/recipes/paneer">Matar Paneer</a></h3>
  <h3><a href="https://www.eatingbyelaine.com/instant-pot-vegan-tikka-masala">Instant Pot Cauliflower Tikka Masala</a></h3>
  <h3><a href="https://smittenkitchen.com/2019/08/black-pepper-tofu-and-eggplant/">Eggplant Tofu</a></h3>
  <h3><a href="https://smittenkitchen.com/2008/07/herbed-summer-squash-and-potato-torte/">Summer Squash and Potato Torte</a></h3>

  <h2>Dessert</h2>
  <h3><a href="https://www.smithandwollensky.com/coconut-layer-cake/">Coconut layer cake (for Eric)</a></h3>
  <h3><a href="https://life-in-the-lofthouse.com/key-lime-bundt-cake/">Lime Bundt Cake</a></h3>
  <h3><a href="https://food52.com/recipes/31911-cider-caramel-apple-pie">Cider Caramel Apple Pie</a></h3>
  <h3><a href="/recipes/orange-cake">Gluten-Free Orange Cake</a></h3>
  <h3><a href="/recipes/cookies">Best Chocolate Chip Cookie</a></h3>
  <h3><a href="https://vintagekitchennotes.com/plum-tart/print/12236/">Shortbread Nut Crust Plum Tart</a></h3>
  <h3><a href="https://www.nytimes.com/2005/09/21/dining/recipe-original-plum-torte.html">NY Times Plum Torte</a></h3>
  <h3><a href="/recipes/crisp">Fruit Crisp</a></h3>
  <h3><a href="/recipes/keylimepie">Key Lime Pie</a></h3>
  <h3><a href="/recipes/pretzelpie">Strawberry Pretzel Pie</a></h3>
  <h3><a href="/recipes/libbys">Pumpkin Pie</a></h3>
  <h3><a href="/recipes/pie-dough">Pie Dough</a></h3>
  <h3><a href="https://tastesbetterfromscratch.com/yellow-cake/">Yellow cake</a> with <a href="https://barefeetinthekitchen.com/fluffy-chocolate-frosting-recipe/">chocolate frosting</a></h3>
  <h3><a href="https://smittenkitchen.com/2015/10/chocolate-peanut-and-pretzel-brittle/">Pretzel Brittle</a>
  <h3><a href="https://sallysbakingaddiction.com/vanilla-buttercream">Vanilla Buttercream</a>

{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/recipes_9602.JPG">
  <img class="img-responsive" src="/images/recipes_9688.JPG">
  <img class="img-responsive" src="/images/recipes_9753.JPG">
  <img class="img-responsive" src="/images/recipes_9848.JPG">
  <img class="img-responsive" src="/images/recipes_9854.JPG">
  <img class="img-responsive" src="/images/recipes_9900.JPG">
  <img class="img-responsive" src="/images/recipes_9920.JPG">
{% endblock %}
