{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h2></h2>
{% endblock %}

{% block ingredients %}

  <h2>Breakfast</h2>
  <h3><a href="/pancakes">Buttermilk pancakes (the best)</a></h3>
  <h3><a href="/recipes/sourdough-pancakes">Sourdough buttermilk pancakes</a></h3>
  <h3><a href="/recipes/waffles">Yogurt waffles</a></h3>
  <h3><a href="/recipes/oatmeal">Instant Pot Steel-Cut Oatmeal</a></h3>

  <h2>Bread</h2>
  <h3><a href="http://www.simplelifebykels.com/sourdough-banana-bread/">Sourdough Banana Bread</a></h3>
  <h3><a href="https://alexandracooks.com/2020/05/01/simple-sourdough-pizza-a-step-by-step-guide">Sourdough Pizza Dough</a></h3>
  <h3><a href="https://www.kingarthurflour.com/recipes/the-easiest-loaf-of-bread-youll-ever-bake-recipe">King Arthur Easy Bread</a></h3>
  <h3><a href="https://www.kingarthurbaking.com/recipes/sourdough-english-muffins-recipe">King Arthur Sourdough English Muffins</a></h3>
  <h3><a href="https://www.seedtopantry.com/2015/09/19/sourdough-zucchini-bread/">Sourdough Zucchini Bread</a></h3>
  <h3><a href="https://smittenkitchen.com/2006/10/promise-keeper-pumpkin-eater/">Pumpkin Turkey Cake</a></h3>
  <h3><a href="https://www.culturesforhealth.com/learn/recipe/sourdough-recipes/sourdough-crepes/">Sourdough crepes</a>
{% endblock %}

{% block instructions %}
  <h2>Dinner</h2>
  <h3><a href="/recipes/rice">Instant Pot Mexican Rice</a></h3>
  <h3><a href="https://www.epicurious.com/recipes/food/views/pumpkin-stuffed-with-everything-good-361169">Stuffed Pumpkin</a></h3>
  <h3><a href="/recipes/mujadara">Mujadara</a></h3>
  <h3><a href="https://www.acozykitchen.com/instant-pot-cuban-black-bean-soup">Cuban Black Bean Soup</a></h3>
  <h3><a href="https://food52.com/recipes/33897-tahini-noodles">Tahini Noodles</a></h3>
  <h3><a href="/recipes/paneer">Matar Paneer</a></h3>
  <h3><a href="https://www.eatingbyelaine.com/instant-pot-vegan-tikka-masala">instant pot cauliflower tikka masala</a></h3>
  <h3><a href="https://smittenkitchen.com/2019/08/black-pepper-tofu-and-eggplant/">Eggplant Tofu</a></h3>
  <h3><a href="https://smittenkitchen.com/2008/07/herbed-summer-squash-and-potato-torte/">Summer Squash and Potato Torte</a>

  <h2>Dessert</h2>
  <h3><a href="https://vintagekitchennotes.com/plum-tart/print/12236/">Shortbread Nut Crust Plum Tart</a></h3>
  <h3><a href="https://www.nytimes.com/2005/09/21/dining/recipe-original-plum-torte.html">NY Times Plum Torte</a></h3>
  <h3><a href="/recipes/crisp">Fruit Crisp</a></h3>
  <h3><a href="/recipes/keylimepie">Key Lime Pie</a></h3>
  <h3><a href="/recipes/pretzelpie">Strawberry Pretzel Pie</a></h3>
  <h3><a href="/recipes/libbys">Pumpkin Pie</a></h3>
  <h3><a href="/recipes/pie-dough">Pie Dough</a></h3>
  <h3><a href="https://tastesbetterfromscratch.com/yellow-cake/">Yellow cake</a> with <a href="https://barefeetinthekitchen.com/fluffy-chocolate-frosting-recipe/">chocolate frosting</a></h3>
  <h3><a href="https://smittenkitchen.com/2015/10/chocolate-peanut-and-pretzel-brittle/">Pretzel Brittle</a>

{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/recipes_9602.JPG">
  <img class="img-responsive" src="/images/recipes_9688.JPG">
  <img class="img-responsive" src="/images/recipes_9753.JPG">
  <img class="img-responsive" src="/images/recipes_9848.JPG">
  <img class="img-responsive" src="/images/recipes_9854.JPG">
  <img class="img-responsive" src="/images/recipes_9900.JPG">
  <img class="img-responsive" src="/images/recipes_9920.JPG">
{% endblock %}
