{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Silver Palate's Decadent Chocolate Frosting</h1>
  <h2>By Jess Blanch</h2>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>2 Tablespoons unsalted butter</li>
    <li>3/4 cups semisweet chocolate chips</li>
    <li>6 Tablespoons heavy cream</li>
    <li>1 1/4 cups confectioner's sugar</li>
    <li>1 teaspoon vanillla</li>
  </ul>
{% endblock %}


{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Place all ingredients in a heavy sauce pan over low heat</li>
    <li>Whisk until chocolate is melted and smooth</li>
    <li>Cool slightly, and check for consistency. Add more sugar if it's too thin.</li>
    <li>Drizzle on cake</li>
  </ul>
  
{% endblock %}

{% block photos %}
{% endblock %}
