{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Sourdough Buttermilk Pancakes / Waffles</h1>
  <br/>Modified from <a href="https://cooking.nytimes.com/recipes/1018025-sourdough-pancake-or-waffle-batter">NY Times Cooking</a>
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <h4>For the overnight sponge, or base:</h4>
  <ul>
    <li>1 cup / 240 grams unfed sourdough starter</li>
    <li>1 cup / 224 grams buttermilk</li>
    <li>1 cup / 120 grams all-purpose flour</li>
    <li>1 tablespoon light brown sugar</li>
  </ul>

  <h4>For the batter:</h4>
  <ul>
    <li>1 large egg</li>
    <li>1/4 cup melted butter</li>
    <li>1/2 teaspoon salt</li>
    <li>1 teaspoon baking soda</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Put the sourdough starter in a large bowl.</li>
    <li>Add the buttermilk, flour, and sugar, then stir to combine.</li>
    <li> 
      Cover the bowl and allow it to rest overnight at room temperature.
    </li>
    <li>
      When you are ready to cook, whisk the egg and melted butter
      together in a bowl, then add the starter.
    </li>
    <li>
      Add the salt and the baking soda to the batter and mix VERY thoroughly
      to combine.
    </li>
    <li>
      Use batter to cook waffles or pancakes.
    </li>
  </ul>
{% endblock %}


{% block photos %}
  <img class="img-responsive" src="/images/sourdough_pancakes.jpg">
  <br/>
  <img class="img-responsive" src="/images/sourdough_pancakes2.jpg">
  <br/>
  <img class="img-responsive" src="/images/waffles4.jpg">
{% endblock %}
