{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Sour Cream Coffee Cake</h1>
{% endblock %}

{% block ingredients%}

  <h3>Ingredients</h3>

  <h4>Cinnamon-walnut Swirl</h4>

  <ul>
    <li>1 cup walnut halves, roughly chopped</li>
    <li>3 tablespoons packed light brown sugar</li>
    <li>2 teaspoons cinnamon</li>
  </ul>

  <h4>Cake Batter</h4>
  <ul>
    <li>2 1/3 cups all-purpose flour, spooned into measuring cup and leveled-off</li>
    <li>1/2 teaspoon baking soda</li>
    <li>1 teaspoon salt</li>
    <li>2 cups granulated sugar</li>
    <li>2 sticks (1 cup) unsalted butter, room temperature</li>
    <li>3 large eggs</li>
    <li>1 (8 oz) container full fat sour cream</li>
    <li>1 1/2 teaspoons vanilla extract</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>

  <h4>Cinnamon-Walnut Swirl</h4>
  <ul>
    <li>Preheat the oven to 325°F and set an oven rack in the middle position.</li>
    <li>Toast the walnuts on a rimmed baking sheet until they’re fragrant and golden brown, 10 to 15 minutes.</li>
    <li>In a small bowl, mix together the walnuts, brown sugar, and cinnamon and set aside.</li>
    <li>Reduce the oven temperature to 300°F.</li>
    <li>Spray a 9- or 10-in Bundt pan with nonstick cooking spray and dust with flour and tap out any excess flour.</li>
    <li>In a medium bowl, whisk together the flour, baking soda, and salt. Set aside.</li>
  </ul>

  <h4>Batter</h4>
  <ul>
    <li>In the bowl of an electric mixer fitted with the paddle attachment or beaters, combine the sugar and butter. Beat on medium speed until pale and fluffy, about 3 minutes.</li>
    <li>Add the eggs, one at a time, beating well after each addition until the mixture is homogenous.</li>
    <li>On low speed, mix in the sour cream and vanilla.</li>
    <li>The batter will look a little curdled at this point, that's okay.</li>
    <li>Scrape down the sides and bottom of the bowl to make sure all of the ingredients are evenly incorporated.</li>
    <li>Gradually add the flour mixture and mix on low speed until the batter is smooth and homogeneous.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
