{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Spinach Artichoke Mac & Cheese</h1>
{% endblock %}

{% block ingredients%}
  <h3>Ingredients</h3>
  <ul>
    <li>Kosher salt</li>
    <li>1 lb. pasta shells</li>
    <li>3 tbsp. butter, plus 2 tbsp. melted butter, plus more for greasing</li>
    <li>4 tbsp. cloves garlic, minced</li>
    <li>3 tbsp. all-purpose flour</li>
    <li>3 c. milk (preferably whole)</li>
    <li>Freshly ground black pepper</li>
    <li>2 c. (8-oz.) blocks cream cheese, cut into cubes</li>
    <li>3 c. shredded mozzarella</li>
    <li>1 1/2 c. freshly grated Parmesan, divided</li>
    <li>2 (10-oz.) packages frozen chopped spinach, thawed and drained</li>
    <li>2 (15-oz.) cans artichoke hearts, drained and chopped</li>
    <li>1 c. panko bread crumbs</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Instructions</h3>
  <ul>
    <li>Preheat oven to 375. Butter a 9"-x-13" baking dish. In a large pot of salted, boiling water, cook pasta until al dente. Drain and set aside. </li>
    <li>In a large saucepan over medium high heat, melt 3 tablespoons butter. Add garlic and cook until fragrant, 1 minute. Add flour and cook, stirring, 1 minute. Pour in milk and continue whisking until combined. Season with salt and pepper. Let simmer until slightly thickened, 2 minutes. Stir in cream cheese until melted. </li>
    <li>Remove pan from heat and whisk in mozzarella and 1 cup of Parmesan. Continue whisking until melted and smooth. Stir in spinach, artichoke, and cooked pasta and transfer to prepared baking dish. </li>
    <li>In a small bowl, combine remaining 1/2 cup Parmesan with panko and melted butter. Sprinkle mixture over macaroni. </li>
    <li>Bake until bubbly and golden, about 30 minutes. Let sit 10 minutes before serving.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
