{% extends 'recipes/base_recipe.html' %}

{% block headline %}
  <h1>Strawberry Pretzel Pie</h1>
{% endblock %}

{% block ingredients%}
  <h3>INGREDIENTS</h3>
  <ul>
    <li>14 tablespoons/200 grams unsalted butter (1 3/4 sticks), softened, plus more for greasing the pan</li>
    <li>2 cups plus 2 tablespoons/265 grams unsifted confectioners sugar</li>
    <li>3 cups/120 grams mini snack pretzels, finely ground</li>
    <li>1 cup/130 grams all-purpose flour</li>
    <li>1 teaspoon baking soda</li>
    <li>1 teaspoon kosher salt</li>
    <li>12 ounces/340 grams cream cheese</li>
    <li>1 1/2 cups/360 milliliters very cold heavy whipping cream</li>
    <li>1 pound/450 grams fresh strawberries, hulled and thinly sliced lengthwise</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>PREPARATION</h3>
  <ul>
    <li>Heat the oven to 400 degrees and grease the inside of a 9-inch, deep pie dish with butter and set aside.</li>
    <li>In a stand mixer fitted with a paddle attachment, or in a medium bowl using a handheld electric mixer, beat the 14 tablespoons butter, 1/2 cup confectioners sugar, ground pretzels, flour, baking soda and salt on low speed until just combined, then increase the speed to high and continue to beat until you get a soft, cohesive dough. Gather the dough and transfer it to the pie pan. Using your fingers, press the mixture evenly across the bottom and up the sides of the dish. Bake until the crust is slightly puffed and deep golden brown in color, 12 to 15 minutes. Remove from the oven and allow to cool while you make the filling.</li>
    <li>In the stand mixer with a paddle attachment, or in a large bowl using a handheld electric mixer, beat the cream cheese on high for 1 minute to soften. Turn off the mixer. Add 1 1/2 cups confectioners sugar, and continue beating on low speed until combined. Stop to scrape down the sides of the bowl, then beat on high until fluffy, about 2 minutes. If using a stand mixer, switch to the whisk attachment. With the mixer running on low speed, slowly add the heavy whipping cream, a splash at a time, beating well after each addition until the mixture is smooth. Scrape down the sides of the bowl, increase speed to high and beat until billowy and whipped, about 2 more minutes. Transfer to the cooled crust and spread in an even layer. Refrigerate until ready to serve, or chill for 2 hours to allow the pie to firm up for slicing.</li>
    <li>Add the remaining 2 tablespoons confectioners sugar to the sliced strawberries and toss to coat, then pile the strawberries on top of the pie. Serve immediately.</li>
  </ul>
{% endblock %}

{% block photos %}
{% endblock %}
