{% extends 'recipes/recipe_base.html' %}

{% block headline %}
  <h1>Easy Weekend Waffles</h1>
  <br/> (Modified from Melissa Clark's 
  <a href="https://cooking.nytimes.com/recipes/1017409-waffles">recipe</a>)
{% endblock %}

{% block ingredients %}
  <h3>Ingredients</h3>
  <ul>
    <li>6 tablespoons melted butter</li>
    <li>2 cups / 240 grams all-purpose flour</li>
    <li>1 tablespoon / 15 grams sugar</li>
    <li>1 teaspoon baking powder</li>
    <li>1 teaspoon fine sea salt</li>
    <li>1/2 teaspoon baking soda</li>
    <li>1 cup yogurt</li>
    <li>1 cup milk</li>
    <li>4 eggs</li>
  </ul>
{% endblock %}

{% block instructions %}
  <h3>Preparation</h3>
  <ul>
    <li>Sift together dry ingredients.</li>
    <li>Mix wet ingredients in a separate bowl.</li>
    <li>Fold wet ingredients into dry ingredients.</li>
    <li>Make waffles in waffle iron.</li>
    <li>Serve waffles immediately or keep warm in a 200 degree oven</li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/waffles1.jpg">
  <img class="img-responsive" src="/images/waffles2.jpg">
  <img class="img-responsive" src="/images/waffles3.jpg">
{% endblock %}
